body {
  background-color: bisque;
  background-repeat: no-repeat;
  background-size: cover;
}
.mucemH1 {
  text-align: center;
  padding: 0;
  padding-top: 11%;
  padding-bottom: 2%;
}
.mucemP{
    text-align: center;
    margin: 0 25%;
}
